@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
#root {
  width: 100%;
  background-color: #284640;
  color: #F8FAE5;
  font-family: 'Source Code Pro';
}
